.style-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    max-width: 900px;
    box-shadow: 0 0 10px rgb(181, 87, 87);
}

.style-table thead tr {
    background-color: green;
    color: white;
    text-align: left;
}

.style-table th,
.style-table td {
    padding: 12px 15px;
}

.style-table tbody tr {
    border-bottom: 1px solid cyan;
}

.style-table tbody tr:nth-of-type(odd) {
    background-color: brown;
}

.style-table tbody tr:last-of-type{
    border-bottom: 2px solid hotpink; 
}

.btn{
    border: none;
    color: wheat;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: lawngreen;
}

.btn-delete{
    background-color: red;
}

.btn-view{
    background-color: yellow;
    color: black;
}